{# app/Resources/views/registration/register2.html.twig #}

{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.summary) }}
    {{ form_row(form.content) }}
    {{ form_row(form.amount) }}

    <button type="submit">Register!</button>
{{ form_end(form) }}
